* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
    background-color: #faf0be;
}
img {
    object-fit: cover;
}
img:hover {
    border: 5px #e1a95f;
    border-style: solid;
    cursor: pointer;
}
.fa {
    font-size: 23px !important;
}
/*NAVBAR STYLING */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    background-color: #f4c430;
    color: #faf0be;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}
.logo {
    font-size: 32px;
    margin-left: 25px;
}
.nav-links a {
    text-decoration: none;
    color: #faf0be;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li {
    list-style: none;
}
.menu li:hover {
    background-color: #e1a95f;
    border-radius: 5px;
    transition: 0.3s ease;
}
#logo-image {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 100%;
   height: 700px;
   color: #f4c430;
}
#logo-title, #wedding-date {
    font-size: 38px;
    position: absolute;
    left: 250px; top: 280px;
    max-width: 320px;
}
#about-us {
    width: 800px;
    margin: auto;
    text-align: center;
    padding: 30px;
}
#wedding-details, #wedding-couple, #wedding-guests {
    border-top: 5px #e1a95f;
    border-bottom:#faf0be;border-left:#faf0be;border-right:#faf0be;
    border-style: solid;
    width: fit-content;
    text-align: center;
    margin-top: 40px;
}
#wedding-footer {
    background-color: #f4c430;
    color: #faf0be;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
@media screen and (max-width: 499px) {
    #logo-image {
        margin-top: -110px;
    }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
    #logo-image {
        margin-top: -50px;
    }
}